.wrapper__difficulty {
    height: auto;
    background-color: #010e1b;
    padding-top: 50px;
    text-align: center;
    font: normal small-caps bold 2em cursive;
    font-family: Arial, Helvetica, sans-serif;
}

/* .wrapper__ul__difficulty {
} */
.ul__difficulty {
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.li__difficulty {
    margin-left: 0 1%;
    width: auto;
    white-space: normal;
}

.wrapper__difficulty_description {
    margin-top: 30px;
    background-color: #010e1b;
}
.wrapper__difficulty_description__light {
    width: calc(33% - (50px / 3));
    text-align: center;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
    padding-right: 8px;
}
.difficulty_description {
    margin-top: 1%;
    font: normal normal 16px cursive;
    color: rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.wrapper__difficulty_description__medium {
    width: calc(33% - (50px / 3));
    display: inline-block;
    text-align: center;   
     white-space: normal;
    vertical-align: top;
    word-wrap: break-word;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 8px;
}

.wrapper__difficulty_description__hard {
    width: calc(33% - (50px / 3));
    display: inline-block;
    text-align: center;    
    white-space: normal;
    vertical-align: top;
    word-wrap: break-word;
    padding-left: 8px;
}
b {
    text-decoration: underline;
}
@media (max-width: 420px) {
    .b__difficulty__description {
        font-size: 12px;
    }
    .difficulty_description {
        font-size: 12px;
    }
    .wrapper__difficulty {
        font-size: 14px;
    }
    .ul__difficulty {
        font-size: 12px;
    }
}

b img {
    margin-left: 10px;
    transition: opacity 0.6s;
}
/* b img:hover {
    animation: leaving 0.6s 1;
    opacity: 0;
} */
.img__difficulty__description {

}
.img__animation {
    animation: leaving 0.6s 1;
    opacity: 0;
}
@keyframes leaving{
    0% {
        transform: translateY(-1px) ;
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(-3px);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(-5px);
    }
}