.wrapper__difficulty {
    height: auto;
    background-color: #010e1b;
    padding-top: 50px;
    text-align: center;
    font: italic small-caps bold 2em cursive;
}

.ul__difficulty {
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    align-items: flex-start;
    /* align-items: top; */
}
@media (max-width: 400px) {
    .ul__difficulty {
        font-size: 12px;
    }
}

.wrapper__difficulty_description {
    margin-top: 30px;
    text-align: left;
    margin-left: 50px;
    background-color: #010e1b;
}

.wrapper__difficulty_description__light {
    width: calc(33% - (50px / 3));
    text-align: center;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
    
}
.difficulty_description {
    font: italic normal 16px cursive;
    color: rgb(160, 160, 160);
}
@media (max-width: 400px) {
    .difficulty_description {
        font-size: 12px;
    }
}

.wrapper__difficulty_description__medium {
    width: calc(33% - (50px / 3));
    display: inline-block;
    text-align: center;   
     white-space: normal;
    vertical-align: top;
    word-wrap: break-word;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.wrapper__difficulty_description__hard {
    width: calc(33% - (50px / 3));
    display: inline-block;
    text-align: center;    
    white-space: normal;
    vertical-align: top;
    word-wrap: break-word;
}
b {
    text-decoration: underline;
}
b img {
    margin-left: 10px;
    transition: opacity 0.6s;
}
/* b img:hover {
} */
b img:hover {
    animation: leaving 0.6s 1;
    opacity: 0;
    /* animation: shake 0.6s infinite; */
}
@keyframes leaving{
    0% {
        transform: translateY(-1px) ;
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(-3px);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(-5px);
    }
}
/* @keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }

    75% {
        transform: translate(2px, -1px) rotate(2deg);
    }

    100% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
} */