.location__a {
    text-decoration: underline;
    color: rgb(7, 60, 121);
}
.wrapper__location {
    background-color: #010e1b;
    text-align: center;
}
.location__header {
    padding-top: 60px;
    font: normal small-caps bold 2em cursive;
}
.location__info {
    width: 100%;
    display: flex;
    /* padding-left: 60px; */
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 420px) {
    .location__info {
        display: flex;
        flex-direction: column;
    }
}
.wrapper__location__map {
    width: 100%;
    height: auto;
    padding-right: 15%;
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    max-width: calc(100% - 30%);

}
@media (max-width: 420px) {
    .wrapper__location__map {
        width: calc(100% - 4%);
        /* margin-left: 100px; */
        /* text-align: center; */
    }
}
.wrapper__map {
    width: 100%;
    /* max-height: 300px; */
    height: 300px;
    padding-left: 10px;;
}
@media (max-width: 420px) {
    margin: 0 2%;
}
.location__info__double {
    /* padding-right: 100px; */
    padding-left: 5%;
    /* padding-right: 5%;; */
}
@media (max-width: 850px) {
    .location__info__double {
        padding-right: 5%;
        font-size: 12px;
    }
}