.wrapper__application {
   width: 100%;
   text-align: center;
   margin: 3% 0;
}
.wrapper__application form {
    display: inline-flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: 5% 10%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/95/Petrozavodsk_06-2017_img37_Railway_station.jpg');
    background-size: cover;
    background-position: center;
    /* opacity: 0.8; */
    border-radius: 12px;
    color: #50021d;
}
.wrapper__application div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0;
}
.wrapper__application div input {
    width: 40%;
    border: none;
    border-radius: 10px;
}
.wrapper__application div label {
    /* width: 40%; */
    /* border-radius: 10px 10px 0 0; */
    background: white;
    font-weight: 800;
    /* opacity: 0.7; */
    transform: rotate(5deg);
}
.wrapper__application div label:nth-child(1) {
    transform: rotate(-5deg);
}
.wrapper__application button {
    width: auto;
    height: 40px;
    border-radius: 12px;
    color: #50021d;
    /* background-color: #010e1b; */
    background-color: white;
    border: 2px solid #50021d;
    cursor: pointer;
    position:relative;
    font-size: 16px;
    font-weight: 600;
}
.wrapper__application button:hover {
    width: auto;
    /* height: 50px; */
    border-radius: 12px;
    color: #010e1b;
    background-color: #50021d;
    /* border: 2px solid white; */
    color: white;
    cursor: pointer;
    /* animation: scale 0.9s infinite; */
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.0.);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
.error__form {
    color: red;
}
@media (max-width: 420px) {
    .wrapper__application button {
        /* width: 20%; */
        height: 30px;
    }
}
@media (min-width: 401px) and (max-width: 1000px) {
    .wrapper__application button {
        /* width: 20%; */
        height: 35px;
    }
    .wrapper__application div label {
        font-size: 10px;
    }
}