footer {
    /* background-color: #010e1b; */
    padding-top: 4%;
    width: 100%;
}
.footer__border {
    border-top: 1px solid white;
}
.wrapper__footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.footer__logo {
    width: 100px;
}
.author__site {
    align-self: center;
    margin-left: calc(100% - 50% - 2% - 100px);
}
.author__site a {
    color: #bd0c00;
}
.author__site+div {
    align-self: center;
    position: absolute;
    right: 0;

}
@media (max-width: 420px) {
    .footer__logo {
        width: 50px;
    }
    .author__site {
        font-size: 8px;
        /* margin-left: calc(100% - 55% - 2% - 100px); */
    }
}
@media (min-width: 421px) {
    .footer__logo {
        width: 65px;
    }
}
@media (min-width: 421px) and (max-width: 1000px) {
    .author__site {
        font-size: 10px;
    }
}