.wrapper__navbar {
    /* border: 1px solid red; */
    width: 100%;
    height: inherit;
    display: flex;
    position: fixed;
    z-index: 1;
}
ul {
    height: auto;
    width: inherit;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10%;
}
ul li {
    list-style-type: none;
    /* font-size: 1em; */
    /* font-size: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 5%; */
    margin-left: 10px;
}
.wrapper__after__header {
    display: flex;
}
.navbar__ul__hidden {
    font-size: 0.8em;
    align-items: flex-start;
}