.wrapper__navbar {
    width: 100%;
    height: inherit;
    display: flex;
    position: fixed;
    z-index: 1;
}
.navbar__ul {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    padding-inline-start: 0;
    font-size: 14px;
}
ul li {
    width: min-content;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    white-space: nowrap;
}
.wrapper__after__header {
    display: flex;
}
.navbar__ul__hidden {
    font-size: 0.8em;
    align-items: flex-start;
}
@media (max-width: 420px) {
    .navbar__ul {
        font-size: 8px;
    }
}
@media (min-width: 421px ) and (max-width: 670px) {
    .navbar__ul {
        font-size: 9px;
    }
}
.navbar__hidden {
    display: none;
}