html, body, #root, .App {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.App {
  background-image: url('./assets/images/wrapperAW.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  -webkit-background-size: cover;
  overflow-y: visible;
}
@media (max-width: 400px) {
  .App {
    font-size: 8px;
  }
}
ul {
  padding-inline-start: 0;
}